
$page-color: #161719;
$page-left-color: #000000;

$page-area-color: #212124;

$page-list-color: #29292B;
$page-list-hover-color: #26282D;

$page-hover-color: #333333;



$primary-color: #2678D2;
$secondary-color: #153863;
$success-color: #3C5A36;
$danger-color: #EAB839;
$warning-color: #E24D42;


$orange-color: #EF843C;

