@import '_reset';
@import '_extends';
@import '_colors';
@import '_sizes';

* {
  box-sizing: border-box;
}

html {
  @extend %w-h-percent-100;
}

body, #app {
  @extend %w-h-percent-100;
  background-color: $page-color;
  font-family: $font;
  font-size: $font-size;
  box-sizing: border-box;
}

.vuem-layout{
  @extend %w-h-percent-100;
  position: relative;
  color: wheat;
  
}

.vuem-form-element{
  width: 100%;
  
  .vuem-form-element--row{
    width: 100%;
    height: $input-row-height;
    margin-bottom: 5px;

    .vuem-form-element-col:first-child {
      width: $input-row-first-col-width;
      height: $input-row-height;
      float: left;
      line-height: $input-row-height;
      text-align: right;
      padding-right: 6px;
      position: relative;

      &::after{
        position: absolute;
        width: 6px;
        height: $input-row-height;
        content: ":";
        text-align: center;
        line-height: $input-row-height;
      }
    }

    .vuem-form-element-col:last-child {
      width: 100% - $input-row-first-col-width;
      height: $input-row-height;
      float: left;

      &.vuem-form-element-col--textarea{
        height: $input-row-height * 2.5;
      }
    }

    .vuem-form-element-col input, .vuem-form-element-col textarea,
    .vuem-form-element-col select{
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 2px 5px;
      border:1px transparent solid;
      display:inline-block;
      vertical-align:middle;
      white-space:normal;
      background:none;
      line-height:1;
      color: $orange-color;
      background-color: $page-area-color;
      border: 1px solid $page-hover-color;

      &:focus{
        background-color: $page-area-color;
        border: 1px solid $page-left-color;
      }

      
    }

  }

  .vuem-form-element--row.vuem-form-element--row--type-list{

    .vuem-form-element-col:first-child {
      width: 100%;
      text-align: left;
      padding-right: 0px;
      height: inherit;

      &::after{
        position: absolute;
        width: 0px;
        content: "";
      }
    }

    .vuem-form-element-col:last-child {
      width: 100%;
    }

  }

}

.vuem-grid{
  @extend %w-h-percent-100;

  .vuem-grid-toolbar {
    @extend %debug-border;
    width: 100%;
    height: 30px;
  }

  .vuem-grid-container {
    @extend %debug-border;
    width: 100%;
    height: calc( 100vh - 50px );
    
    .vuem-grid-navbar{
      @extend %debug-border;
      width: 250px;
      height: 100%;
      float: left;
    }

    .vuem-grid-content{
      @extend %debug-border;
      width: calc( 100% - 250px );
      height: 100%;
      float: left;
    }

  }

  .vuem-grid-statusbar{
    @extend %debug-border;
    width: 100%;
    height: 20px;
  }
}

$tree-height: 20px;
.vuem-tree{
  @extend %w-h-percent-100;
  background-color: $page-list-color;


  li {
    height: $tree-height;
    line-height: $tree-height;
    padding: 3px;
    border: 1px;

    span {
      display: inline-block;
      width: $tree-height;
      height: $tree-height;
      text-align: center;
      line-height: $tree-height;
    }

    li{
      padding-left: 15px;
    }

    .active{
      background-color: $primary-color;
      color: #fff;
    }

  }
}