<template>
  <div>
<div class="vuem-form-element">
        <div class="vuem-form-element--row">
          <div class="vuem-form-element-col">İnput</div>
          <div class="vuem-form-element-col"><input type=text></div>
        </div>
      </div>

      <div class="vuem-form-element">
        <div class="vuem-form-element--row vuem-form-element--row--type-list">
          <div class="vuem-form-element-col">Çok Uzun İnput</div>
          <div class="vuem-form-element-col vuem-form-element-col--textarea"><textarea/></div>
        </div>
      </div>

      <div class="vuem-form-element">
        <div class="vuem-form-element--row">
          <div class="vuem-form-element-col">İnput</div>
          <div class="vuem-form-element-col">
            <select>
              <option>test</option><option>test 1</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</template>
