<template>
  <div id="app">
    <m-grid>
      <m-toolbar/>
      <m-container>
        <m-navbar>

          <ul class="vuem-tree">

            <li v-for="(item, index) in items"
            :key="`main-${index}`" @dblclick.stop="doubleClick(item)"
            @click.stop="nClick(item)">
              <span @click.stop="toogleExpand(item)">{{item.icon}}</span>  {{item.name}}

                <ul
                v-if="'childs' in item &&
                item.childs.length &&
                item.expanded">
                  <li v-for="(secondItem, secondIndex) in item.childs"
                    :key="`second-${secondIndex}`" @dblclick.stop="doubleClick(secondItem)"
                    @click.stop="nClick(secondItem)">

                    <span @click.stop="toogleExpand(secondItem)">
                      {{secondItem.icon}}
                    </span>
                      {{secondItem.name}}
                    <ul
                    v-if="'childs' in secondItem &&
                    secondItem.childs.length &&
                    secondItem.expanded">
                      <li v-for="(thirdItem, thirdIndex) in secondItem.childs"
                      :key="`third-${thirdIndex}`"
                      @dblclick.stop="nodeDoubleClick(thirdItem)"
                      @click.stop="nodeClick(thirdItem)">
                        <span>></span> {{thirdItem.name}}
                      </li>
                    </ul>

                  </li>


                </ul>

            </li>

          </ul>

        </m-navbar>
        <m-content/>
      </m-container>
      <m-statusbar/>
    </m-grid>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: 'App',
  methods: {
    toogleExpand(item) {
      if( item.expanded ) {
        item.icon = '+';
      }else {
        item.icon = '-';
      }
      item.expanded = !item.expanded;
    },
    doubleClick(item) {
      this.toogleExpand(item);
    },
    nClick(item) {
      // ...
      this.nodeClick(item);
    },
    nodeDoubleClick(item) {
      // ...
      if ('onDblClick' in item) {
        item.onDblClick(item);
      }
    },
    nodeClick(item) {
      // ...
      if ('onClick' in item) {
        item.onClick(item);
      }
    },
  },
  data() {
    return {
      items: [
        { 
          name: 'Mysql-Mopet', 
          value: null, 
          icon: '+', 
          type: 'dir', 
          expanded: false,
          childs: [
            { 
              name: 'Tablolar',
              value: null,
              icon: '-',
              type: 'dir',
              expanded: true,
              childs: [
                {
                  name: 'stocks',
                  value: 'stocks',
                  icon: '',
                  type: 'node',
                  onDblClick: () => {},
                  onClick: () => {console.log(1)},
                },
                {
                  name: 'stocks',
                  value: 'stocks',
                  icon: '',
                  type: 'node'
                },
                {
                  name: 'stocks',
                  value: 'stocks',
                  icon: '',
                  type: 'node'
                },
                {
                  name: 'stocks',
                  value: 'stocks',
                  icon: '',
                  type: 'node'
                },
              ],
            },
          ],
        },
      ],
    };
  },
};
</script>

<style>
  ul {
    color: aliceblue;
  }
</style>
